@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700;800;900&family=Nova+Slim&family=Quicksand:wght@300;400&family=Train+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$text_color: #1d3557;
$main_font: 'Quicksand', sans-serif;

body{
    height: 100vh;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:$main_font ;
}
article>p {
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}
h1 {
    font-weight: 400;
    box-shadow: 1px 1px 4px #1d3557;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}
h2 {
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
}
.social-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.insta:hover,
.face:hover,
.linkedin:hover {
    opacity: 100%;
    transition: 0.8s;
}

.insta {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.601);
    border-radius: 10px 10px 10px;
    background: linear-gradient(to right,
            #0023964d,
            #83008f4d,
            #c0007a4d,
            #ff88204d,
            #f6ba005d);
    opacity: 60%;
    transition: 0.5s;
}

.linkedin {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.601);
    border-radius: 10px 10px 10px;
    background: #0076b55d;
    opacity: 60%;
    transition: 0.5s;
}

.face {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.601);
    border-radius: 10px 10px 10px;
    background: #4267b26d;
    opacity: 60%;
    transition: 0.5s;
}

footer {
    font-family: $main_font ;
}

footer>p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2vh;
}