@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700;800;900&family=Quicksand:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$text_color: #1d3557;
$main_font: 'Quicksand', sans-serif;

main>img {
    width: 40%;
}

.name {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 7vw;
    font-weight: 900;
    color: $text_color;
    text-decoration: underline;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    >* {
        margin: 0.4em;
    }
}

.phone {
    font-family: $main_font;
    color: $text_color;
    font-size: 5vw;
}

.email {
    text-decoration: none;
    font-family: $main_font;
    font-weight: 600;
    color: black;
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: $main_font;
    color: $text_color;
    text-shadow: 2px 2px 2px black;
    font-size: 7vw;
    font-weight: 300;
}

h2 {
    font-size: 16vw;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 800;
    text-decoration: underline;
    color: black;
    text-shadow: 3px 3px 2px white;
    background-color: #a3a3a32d ;
    padding: 0 9vw ;
}
.social-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.insta:hover,
.face:hover,
.linkedin:hover {
    opacity: 100%;
    transition: 0.8s;
}

.insta {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.601);
    border-radius: 10px 10px 10px;
    background: linear-gradient(to right,
            #0023964d,
            #83008f4d,
            #c0007a4d,
            #ff88204d,
            #f6ba005d);
    opacity: 60%;
    transition: 0.5s;
}

.linkedin {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.601);
    border-radius: 10px 10px 10px;
    background: #0076b55d;
    opacity: 60%;
    transition: 0.5s;
}

.face {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.601);
    border-radius: 10px 10px 10px;
    background: #4267b26d;
    opacity: 60%;
    transition: 0.5s;
}

footer {
    font-family: $main_font ;
}

footer>p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2vh;
}

@media screen and (min-width: 490px) {
    main>img{
        width: 30%;
    }
    h2 {
        font-size: 14vw;
        padding: 0 4vw ;   
    }
    h3 {
    //    font-size: ; 
    }
    .contact >* {
        margin: 0.4rem;
    }
}