@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700;800;900&family=Nova+Slim&family=Quicksand:wght@300;400&family=Train+One&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main > img {
  width: 40%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contact > * {
  margin: 0.4em;
}

.phone {
  font-family: "Quicksand", sans-serif;
  color: #1d3557;
  font-weight: 300;
  font-size: 7vw;
}

.email {
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 6vw;
  font-weight: 600;
  color: #1d3557;
}

h3 {
  font-family: "Quicksand", sans-serif;
  color: #1d3557;
  text-shadow: 2px 2px 2px black;
  font-size: 8vw;
  font-weight: 300;
}

h2 {
  font-size: 16vw;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  text-decoration: underline;
  color: black;
  text-shadow: 3px 3px 2px white;
  background-color: rgba(163, 163, 163, 0.1764705882);
  padding: 0 9vw;
}

.social-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.insta:hover,
.face:hover,
.linkedin:hover {
  opacity: 100%;
  transition: 0.8s;
}

.insta {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.601);
  border-radius: 10px 10px 10px;
  background: linear-gradient(to right, rgba(0, 35, 150, 0.3019607843), rgba(131, 0, 143, 0.3019607843), rgba(192, 0, 122, 0.3019607843), rgba(255, 136, 32, 0.3019607843), rgba(246, 186, 0, 0.3647058824));
  opacity: 60%;
  transition: 0.5s;
}

.linkedin {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.601);
  border-radius: 10px 10px 10px;
  background: rgba(0, 118, 181, 0.3647058824);
  opacity: 60%;
  transition: 0.5s;
}

.face {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.601);
  border-radius: 10px 10px 10px;
  background: rgba(66, 103, 178, 0.4274509804);
  opacity: 60%;
  transition: 0.5s;
}

footer {
  font-family: "Quicksand", sans-serif;
}

footer > p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2vh;
}

@media screen and (min-width: 490px) and (max-width: 899px) {
  nav > a {
    font-size: 22px;
  }
  .logo > img {
    padding-top: 25%;
  }
  main > img {
    width: 30%;
    max-width: 215px;
    margin-bottom: 2rem;
  }
  h2 {
    font-size: 1vw;
    padding: 0 4vw;
    font-size: 80px;
  }
  h3 {
    font-size: 35px;
  }
  .contact > * {
    margin: 0.4rem;
  }
  .phone {
    font-size: 25px;
  }
  .email {
    font-size: 23px;
  }
}
@media screen and (min-width: 899px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  nav > a {
    font-size: 50%;
  }
  nav > span {
    font-size: 60%;
    font-weight: 300;
  }
  .b2:hover, .b3:hover, .b4:hover {
    background-color: rgba(255, 255, 255, 0.341);
    transition: 1s;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.487);
    border-radius: 3px 3px 3px;
    padding: 0 5px;
    font-weight: 400;
  }
  .b2, .b3, .b4 {
    transition: 1s;
  }
  .logo > img {
    width: 12rem;
    padding-top: 40%;
    margin-left: -2em;
    transition: 1.5s;
  }
  .logo > img:hover {
    background-color: rgba(128, 128, 128, 0.202);
    transition: 1.5s;
  }
  main > .luke {
    margin-left: 8rem;
    width: 20%;
  }
  h2 {
    font-size: 7vw;
    font-family: "Train One", cursive;
    font-weight: 400;
    background: none;
  }
  h3 {
    font-size: 4vw;
    margin-top: none;
  }
  .contact > * {
    margin: 0.4em;
  }
  .contact > .email, .phone {
    font-size: 160%;
    transition: 1s;
  }
  .email:hover {
    font-size: 1.7rem;
    font-weight: 400;
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.341);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.487);
    border-radius: 3px 3px 3px;
    padding: 0 5px;
  }
}/*# sourceMappingURL=index.css.map */