@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700;800;900&family=Quicksand:wght@300;400&family=Zen+Tokyo+Zoo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black
    }
}

$text_color: #1d3557;
$main_font: 'Quicksand', sans-serif;



body {
    background-image: linear-gradient(#ffef934a, white, #ffee934a);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

// links to other pages

body>nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav,
nav a {
    text-decoration: none;
    font-weight: 700;
    font-size: 4vw;
    font-family: $main_font;
    color: #1d3557;
}

.logo img {
    width: 17vw;
    padding-top: 1rem;
}

.social-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.insta:hover,
.face:hover,
.linkedin:hover {
    opacity: 100%;
    transition: 0.8s;
    box-shadow: 2px 2px 2px black;
}

.insta {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.601);
    border-radius: 10px 10px 10px;
    background: linear-gradient(to right,
            #0023964d,
            #83008f4d,
            #c0007a4d,
            #ff88204d,
            #f6ba005d);
    opacity: 60%;
    transition: 0.5s;
}

.linkedin {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.601);
    border-radius: 10px 10px 10px;
    background: #0076b55d;
    opacity: 60%;
    transition: 0.5s;
}

.face {
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.601);
    border-radius: 10px 10px 10px;
    background: #4267b26d;
    opacity: 60%;
    transition: 0.5s;
}

.insta>img,
.face>img,
.linkedin>img {
    width: 8vw;
    max-width: 45px;
}

footer {
    padding-top: 1.5rem;
    font-family: $main_font ;
    margin-top: auto;
}

footer p {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

@media screen and (min-width: 490px) and (max-width:899px) {
    .logo img {
        padding-top: 30%;
    }

    nav>a {
        font-size: max(22px);
    }
}

@media screen and (min-width:900px) {
    nav>a {
        font-size: 50%;
    }

    nav>span {
        font-size: 60%;
        font-weight: 300;
    }

    .logo>img {
        width: 12rem;
        margin-left: -2em;
        transition: 1.5s;
    }

    .logo>img:hover {
        background-color: rgba(128, 128, 128, 0.202);
        transition: 1.5s;
    }
    .b2:hover,
    .b3:hover,
    .b4:hover {
        background-color: rgba(255, 255, 255, 0.341);
        transition: 1s;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.487);
        border-radius: 3px 3px 3px;
        padding: 0 5px;
        font-weight: 400;
    }
    .b2,
    .b3,
    .b4 {
        transition: 1s;
    }

}